a{
  display: block;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu{
  flex-direction: column;
  border-radius: 20px;
  border: solid white
}

.card-body{
  background-color: slateblue;
}
